@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
    margin:auto;
    max-width: 1440px;
    font-family: "Raleway", sans-serif ;
    padding-left : 50px;
    padding-right: 50px;
}

h1{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 4px;
    margin-top: 33px;
}


h2{
    font-weight: 400;
    font-size: 1em;
    margin-top: 4px;
    margin-bottom: 10px;
}

header{
    display: flex;
    justify-content: space-between;
}

nav{
    padding-right: 4%;
    width: 20%;
}

ul{
  
    display: flex;
    margin:0;
    justify-content: space-between;

}

li{
    list-style-type: none;

    
}

a{
    text-decoration: none;
    color: black;
}

a i{
    color: #0065FC;

}

form{
    display: flex;
    flex-direction: row;
}

input{
    width: 20%;
    border: 0;
}

#logo{
  width: 61.09px;
  height: 19px;
  
}

#logo_image{
  width: 100%;

}

#loupe{
    display: none;
}

#localisation{
    background-color: rgba(127, 127, 127, 0.2);
    border:1px rgba(127, 127, 127, 0.2) solid;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 1%;
}

#site_search{
    border: 2px #d9d9d9 solid;
    border-radius: 15px;
}

#bouton{
    background-color: #0065FC;
    color: white;
    border: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}

#Les_filtres{
    margin-top: 3%;
    padding-left: 0;
    width: 65%;
    flex-wrap: wrap;
}

#Filtre{
    display: flex;
}
.Filtre_liste{
    padding-right: 2%;
    border: 2px rgba(127, 127, 127, 0.2) solid;
}
#Filtre_animaux{
    display: flex;
    border: 2px rgba(127, 127, 127, 0.2) solid;
}
.Filtres_liens{
    
}